VITE_API_BASE_URL=http://localhost:8000
VITE_KEYCLOAK_URL=http://localhost:8081
VITE_KEYCLOAK_REALM=saasguard
VITE_KEYCLOAK_CLIENT_ID=saasguard-frontend
VITE_GRAFANA_URL=http://localhost:3000
VITE_PROMETHEUS_URL=http://localhost:9090
VITE_LOKI_URL=http://localhost:3100
